<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Stting Page</h1>
    <h1>Hii this my setting section</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi itaque esse libero similique odio repellat, iste non numquam debitis. Illum, porro natus? Hic voluptate dolor sed ea corrupti quae rerum minima quo? Veritatis culpa alias ducimus iure recusandae enim, repellendus incidunt delectus pariatur reprehenderit quos illo autem perspiciatis. Consequuntur libero quo enim fugiat maiores, porro quasi praesentium nam delectus minima, sint, dolorum perferendis eius blanditiis. Neque repellat maxime repellendus eaque dolorum illum voluptates nobis quisquam. Molestias perferendis sint, nihil quo maxime in qui sequi ipsa, nostrum voluptatibus corporis quis quisquam! Dicta alias aspernatur ad corrupti maxime et, optio exercitationem?</p>
    <h2>Hii here....</h2>
    
</body>
</html> -->